<h1>Create a post</h1>

<form action='/posts/<%= @post.id %>' method='POST'>
  <p>
    <input type='text' name='name' value='<%= @post.name %>'/>

  </p>
  <p>
      <textarea name='content'><%</textarea>
  </p>
<input type='submit' id='submit'/>
</form>
