<h1>Create a post</h1>

<form action='/posts' method='POST'>
  <p>
    <input type='text' name='name' />
  </p>
  <p>
      <textarea name='content'></textarea>
  </p>
<input type='submit' id='submit'/>
</form>
