<h1>Create a post</h1>

<form action='/posts' method='POST'>
  <p>
    <input type="text" name='name' />
  </p>
  <p>
      <input type="text" name='content' />
  </p>
<input type='submit' />
</form>
